USE [master]
GO
/****** Object:  Database [SnD]    Script Date: 28/03/2023 02:57:16 AM ******/
CREATE DATABASE [SnD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SnD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SnD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SnD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SnD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SnD]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [nvarchar](50) NOT NULL,
	[Book_Title] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow](
	[BL_ID] [nvarchar](50) NOT NULL,
	[B_ID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Borrow] PRIMARY KEY CLUSTERED 
(
	[BL_ID] ASC,
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrow_List]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrow_List](
	[Borrow_List_ID] [nvarchar](50) NOT NULL,
	[C_ID] [nvarchar](50) NOT NULL,
	[Call_Day] [date] NOT NULL,
	[Due_Date] [date] NOT NULL,
	[Total_Price] [float] NOT NULL,
	[Return_Day] [date] NULL,
	[Fine] [float] NULL,
	[Quality] [int] NULL,
	[E_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Borrow_List] PRIMARY KEY CLUSTERED 
(
	[Borrow_List_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[C_ID] [nvarchar](50) NOT NULL,
	[Lend_Status] [int] NOT NULL,
	[Phone_numb] [nchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Date_Create] [date] NOT NULL,
	[C_Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[DoB] [date] NULL,
	[Address] [nvarchar](50) NULL,
	[E_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[E_ID] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Address] [nvarchar](50) NULL,
	[DOB] [date] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import](
	[B_ID] [nvarchar](50) NOT NULL,
	[IL_ID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Import] PRIMARY KEY CLUSTERED 
(
	[B_ID] ASC,
	[IL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import_List]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_List](
	[Import_List_ID] [nvarchar](50) NOT NULL,
	[Supplier_ID] [nvarchar](50) NOT NULL,
	[Date_Import] [date] NOT NULL,
	[E_ID] [nvarchar](50) NULL,
 CONSTRAINT [PK_Import_List_1] PRIMARY KEY CLUSTERED 
(
	[Import_List_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suplier]    Script Date: 28/03/2023 02:57:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suplier](
	[Sup_ID] [nvarchar](50) NOT NULL,
	[Sup_Name] [nvarchar](50) NOT NULL,
	[Sup_Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Suplier] PRIMARY KEY CLUSTERED 
(
	[Sup_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Book] ([BookID], [Book_Title], [Type], [Price], [Quantity]) VALUES (N'B01', N'Dac Nhan Tam', N'Tam ly & Ki nang song', 60000, 8)
INSERT [dbo].[Book] ([BookID], [Book_Title], [Type], [Price], [Quantity]) VALUES (N'B02', N'Tam Ly Toi Pham', N'Tam ly & Ki nang song', 79000, 15)
INSERT [dbo].[Book] ([BookID], [Book_Title], [Type], [Price], [Quantity]) VALUES (N'B03', N'Hanh Trinh Thai Giao', N'Nuoi day con', 53000, 7)
GO
INSERT [dbo].[Borrow] ([BL_ID], [B_ID], [Quantity]) VALUES (N'BL01', N'B02', 1)
INSERT [dbo].[Borrow] ([BL_ID], [B_ID], [Quantity]) VALUES (N'BL01', N'B03', 1)
INSERT [dbo].[Borrow] ([BL_ID], [B_ID], [Quantity]) VALUES (N'BL01', N'B06', 1)
GO
INSERT [dbo].[Borrow_List] ([Borrow_List_ID], [C_ID], [Call_Day], [Due_Date], [Total_Price], [Return_Day], [Fine], [Quality], [E_ID]) VALUES (N'BL01', N'C1', CAST(N'2023-03-21' AS Date), CAST(N'2023-04-21' AS Date), 30000, CAST(N'2023-04-15' AS Date), NULL, 3, N'EP1')
INSERT [dbo].[Borrow_List] ([Borrow_List_ID], [C_ID], [Call_Day], [Due_Date], [Total_Price], [Return_Day], [Fine], [Quality], [E_ID]) VALUES (N'BL02', N'C5', CAST(N'2021-03-22' AS Date), CAST(N'2021-04-22' AS Date), 10000, CAST(N'2021-04-04' AS Date), NULL, 1, N'EP1')
INSERT [dbo].[Borrow_List] ([Borrow_List_ID], [C_ID], [Call_Day], [Due_Date], [Total_Price], [Return_Day], [Fine], [Quality], [E_ID]) VALUES (N'BL03', N'C3', CAST(N'2021-02-10' AS Date), CAST(N'2021-03-10' AS Date), 50000, CAST(N'2021-02-27' AS Date), NULL, 5, N'EP1')
GO
INSERT [dbo].[Customer] ([C_ID], [Lend_Status], [Phone_numb], [Email], [Date_Create], [C_Name], [Age], [DoB], [Address], [E_ID]) VALUES (N'C1', 1, N'0123456789', N'c1@gmail.com', CAST(N'2016-12-01' AS Date), N'Mai', 17, CAST(N'2006-01-06' AS Date), N'TPHCM', N'EP1')
INSERT [dbo].[Customer] ([C_ID], [Lend_Status], [Phone_numb], [Email], [Date_Create], [C_Name], [Age], [DoB], [Address], [E_ID]) VALUES (N'C2', 1, N'0234567891', N'c2@gmail.com', CAST(N'2019-05-15' AS Date), N'Quy', 19, CAST(N'2004-11-04' AS Date), N'TPHCM', N'EP1')
INSERT [dbo].[Customer] ([C_ID], [Lend_Status], [Phone_numb], [Email], [Date_Create], [C_Name], [Age], [DoB], [Address], [E_ID]) VALUES (N'C3', 1, N'0345678912', N'c3@gmail.com', CAST(N'2021-01-10' AS Date), N'Hung', 20, CAST(N'2003-12-19' AS Date), N'HaNoi', N'EP3')
GO
INSERT [dbo].[Employee] ([E_ID], [Password], [Name], [Age], [Address], [DOB]) VALUES (N'123', N'123', N'Danh', 21, N'Binh Duong', CAST(N'2002-07-03' AS Date))
INSERT [dbo].[Employee] ([E_ID], [Password], [Name], [Age], [Address], [DOB]) VALUES (N'EP1', N'123', N'Danh', 21, N'TPHCM', CAST(N'2002-07-03' AS Date))
INSERT [dbo].[Employee] ([E_ID], [Password], [Name], [Age], [Address], [DOB]) VALUES (N'EP2', N'234', N'Bao', 21, N'TPHCM', CAST(N'2002-07-09' AS Date))
GO
INSERT [dbo].[Import] ([B_ID], [IL_ID], [Quantity]) VALUES (N'B01', N'IL1', 20)
INSERT [dbo].[Import] ([B_ID], [IL_ID], [Quantity]) VALUES (N'B02', N'IL1', 15)
INSERT [dbo].[Import] ([B_ID], [IL_ID], [Quantity]) VALUES (N'B03', N'IL2', 7)
GO
INSERT [dbo].[Import_List] ([Import_List_ID], [Supplier_ID], [Date_Import], [E_ID]) VALUES (N'IL1', N'SL01', CAST(N'2023-01-01' AS Date), N'EP1')
INSERT [dbo].[Import_List] ([Import_List_ID], [Supplier_ID], [Date_Import], [E_ID]) VALUES (N'IL2', N'SL03', CAST(N'2023-01-01' AS Date), N'EP1')
INSERT [dbo].[Import_List] ([Import_List_ID], [Supplier_ID], [Date_Import], [E_ID]) VALUES (N'IL3', N'SL05', CAST(N'2023-04-05' AS Date), N'EP3')
GO
INSERT [dbo].[Suplier] ([Sup_ID], [Sup_Name], [Sup_Email]) VALUES (N'SL01', N'NXB Kim Dong', N'kimdong1@gmail.com')
INSERT [dbo].[Suplier] ([Sup_ID], [Sup_Name], [Sup_Email]) VALUES (N'SL02', N'NXB Tre', NULL)
INSERT [dbo].[Suplier] ([Sup_ID], [Sup_Name], [Sup_Email]) VALUES (N'SL03', N'NXB Van Hoc', NULL)
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Book] FOREIGN KEY([B_ID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Book]
GO
ALTER TABLE [dbo].[Borrow]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Borrow_List] FOREIGN KEY([BL_ID])
REFERENCES [dbo].[Borrow_List] ([Borrow_List_ID])
GO
ALTER TABLE [dbo].[Borrow] CHECK CONSTRAINT [FK_Borrow_Borrow_List]
GO
ALTER TABLE [dbo].[Borrow_List]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_List_Customer] FOREIGN KEY([C_ID])
REFERENCES [dbo].[Customer] ([C_ID])
GO
ALTER TABLE [dbo].[Borrow_List] CHECK CONSTRAINT [FK_Borrow_List_Customer]
GO
ALTER TABLE [dbo].[Borrow_List]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_List_Employee] FOREIGN KEY([E_ID])
REFERENCES [dbo].[Employee] ([E_ID])
GO
ALTER TABLE [dbo].[Borrow_List] CHECK CONSTRAINT [FK_Borrow_List_Employee]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Employee] FOREIGN KEY([E_ID])
REFERENCES [dbo].[Employee] ([E_ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Employee]
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_Book] FOREIGN KEY([B_ID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_Book]
GO
ALTER TABLE [dbo].[Import]  WITH CHECK ADD  CONSTRAINT [FK_Import_Import_List] FOREIGN KEY([IL_ID])
REFERENCES [dbo].[Import_List] ([Import_List_ID])
GO
ALTER TABLE [dbo].[Import] CHECK CONSTRAINT [FK_Import_Import_List]
GO
ALTER TABLE [dbo].[Import_List]  WITH CHECK ADD  CONSTRAINT [FK_Import_List_Employee] FOREIGN KEY([E_ID])
REFERENCES [dbo].[Employee] ([E_ID])
GO
ALTER TABLE [dbo].[Import_List] CHECK CONSTRAINT [FK_Import_List_Employee]
GO
ALTER TABLE [dbo].[Import_List]  WITH CHECK ADD  CONSTRAINT [FK_Import_List_Suplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Suplier] ([Sup_ID])
GO
ALTER TABLE [dbo].[Import_List] CHECK CONSTRAINT [FK_Import_List_Suplier]
GO
USE [master]
GO
